name: Our first python CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  My-first-CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      # CI fixen
      - name: Install uv
        run: pip install uv

      - name: Install the project dependencies using uv
        run: uv sync --locked --all-extras --dev

      - name: Lint with Ruff
        run: |
          uv run ruff check .

      - name: Test with pytest
        run: uv run pytest tests
